#about-page {
    /* border: 15px solid white; */
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    color: white;
    font-family: 'Open Sans','Courier New', Courier, monospace;
    cursor: url("../resources/svgs/icons8-delete-filled.svg"), auto;
    transition: transform 0.5s cubic-bezier(0.63, 0.21, 1,-0.01);

    z-index: 4;
}

.landing-picture-background {
    background: linear-gradient(0deg, rgba(40,44,52,0.8) 20%, rgba(16,29,55,0.8) 40%), linear-gradient(0deg, rgba(40,44,52,0.6) 20%, rgba(40,44,52,0.6) 20%), url(../resources/about-back.jpg) center;
    background-size: cover;
    min-height: 120vh;
    max-width: 100%;
    z-index: 4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 5px solid salmon; */
}

.landing-picture-background div {
    padding-left: 2%;
}

.landing-picture-background h3 {
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    /* border: 5px solid white; */
}

.landing-picture-background h1 {
    max-width: 45vw;
    font-size: 5em;
    font-family: 'Abril Fatface', cursive;
    color: #d63031;
    /* border: 5px solid white; */

}

.white-space-blurb {
    min-width: 100%;
    /* display: flex; */
    background: white;
}

.white-space-blurb p {
    color: #121c2d;
    
    letter-spacing: 2px;
    max-width: 80vw;
    padding: 20em;
    margin: auto;
    font-size: 1.5em;
}

#img-grid {
    display: grid;
    grid-template-areas: 
    "one two"
    "three four"
    "five five"
    "six seven";
    /* grid-template-rows: 25% 25% 25% 25%; */
    grid-template-columns: 50% 50%;
    max-width: 100vw;
    padding-left: 35em;
    padding-right: 35em;
    /* padding-bottom: 35em; */
    background-color: white;
}

#img-grid img {
    width: 100%;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
    /* height: 90%; */
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

/* 

1. Large picture taking up 100% width. 120$ height.
2. same style and color as the landing page 
3. Scrollable (with an icon to show that it is, arrow)
4. As you scroll text fades in 
5. general enquiries, address, social media icons
6. What are you waiting for?  Get in touch text

*/

#about-page h1 {
    font-size: 5em;
    letter-spacing: 4px;
    margin: auto;
}

#about-page.hide {
    /* Comment the below line out to work on about page */
    position: fixed;
    transform: translate3d(0, 100vh, 0);
    transition: transform 1s cubic-bezier(0.63, 0.21, 1,-0.01);
    background-size: cover;
    
}

#about-page.show {
    position: absolute;
    transform: translate3d(0, 0vh, 0);
    background-size: cover;
}  

@media only screen and (max-width: 420px) {
    #about-page {
        cursor: default;
        }
        .landing-picture-background h1 {
            font-size: 700px;
        }
    .white-space-blurb p {
        min-width: 90%;
        padding: 11em;
        margin: 1px;
        font-size: 2em;
    }
    }

@media only screen and (max-width: 982px) {
    #about-page {
    cursor: default;
    }
    .landing-picture-background h1 {
        font-size: 8em;
    }


    .close {
        display: unset;
        position: absolute;
        top: 0.75%;
        left: 2%;
        width: 32px;
        height: 32px;
        opacity: 0.7;
        z-index: 100;
        color: white;
      }
      .close:hover {
        opacity: 1;
        cursor: pointer;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: white;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
    }
    
    }
