#about-page {
    /* border: 15px solid white; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100;
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* White background */
    background: linear-gradient(0deg, rgba(40,44,52,0.8) 20%, rgba(16,29,55,0.90) 40%), linear-gradient(0deg, rgba(76, 209, 55,0.76) 10%, rgba(76, 209, 55,0.1) 40%), url(../resources/portfol.jpg) center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    color: white;
    font-family: 'Abril Fatface', cursive;
    /* transition: transform 1s cubic-bezier(0.63, 0.21, 1,-0.01); */
    z-index: 2;
    /* cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E %3Cpath d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4 L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1 c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1 c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/%3E %3C/svg%3E"), pointer; */
    cursor: url("../resources/svgs/icons8-delete-filled.svg"), auto;
}  

/* 

1. Large picture taking up 100% width. height.
2. Scrollable




*/

#about-page h1 {
    font-size: 5em;
    letter-spacing: 4px;
    margin: auto;
}

#about-page.hide {
    /* Comment the below line out to work on about page */
    transform: translate3d(0, 100vh, 0);
    /* transition: transform 1s cubic-bezier(0.63, 0.21, 1,-0.01); */
    background-size: cover;
    
}

#about-page.show {
    position: absolute;
    transform: translate3d(0, 0vh, 0);
    background-size: cover;
}  

@media only screen and (max-width: 450px) {

    }

@media only screen and (max-width: 982px) {
    #about-page {
    cursor: default;
    }
    .close {
        display: unset;
        position: absolute;
        top: 0.75%;
        left: 2%;
        width: 32px;
        height: 32px;
        opacity: 0.7;
        z-index: 100;
        color: white;
      }
      .close:hover {
        opacity: 1;
        cursor: pointer;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: white;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
    }
    /* svg {
        display: unset;
        position: absolute;
        top: 0.5%;
        cursor: pointer;
        left: 1%;
    } */
    
    }
