#contact-page {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    color: white;
    font-family: 'Open Sans','Courier New', Courier, monospace;
    cursor: url("../resources/svgs/icons8-delete-filled.svg"), auto;
    /* transition: transform 0.5s cubic-bezier(1, 0.21, 1,-0.01); */
    transition: none;


    z-index: 4;
}

.enquiries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid salmon;
    background-color: white;
    font-family: 'open sans';


}

.item {
    color: black;
    padding: 20px;
    border: 2px solid yellow;
}

.item a {
    display: block;
}

.item p {
    margin: 0;
}

#contact-page.hide {
    /* Comment the below line out to work on about page */
    position: fixed;
    /* transform: translate3d(-200vw, 0, 0); */
    transition: transform .67s cubic-bezier(1, 0.21, 1,-0.01);
    background-size: cover;
    z-index: 2;
    
}

#contact-page.show {
    position: absolute;
    transform: translate3d(0, 0vh, 0);
    background-size: cover;
}  


@media only screen and (max-width: 450px) {

    }

@media only screen and (max-width: 982px) {
    #portfolio-page {
    cursor: default;
    }
    .close {
        display: unset;
        position: absolute;
        top: 0.75%;
        left: 2%;
        width: 32px;
        height: 32px;
        opacity: 0.7;
        z-index: 100;
        color: white;
      }
      .close:hover {
        opacity: 1;
        cursor: pointer;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: white;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
    }
    /* svg {
        display: unset;
        position: absolute;
        top: 0.5%;
        cursor: pointer;
        left: 1%;
    } */
    
    }
