/* * {
    border: 2px solid grey;
} */

div.main-wrapper {
    /* border: 0px; */
    display: flex;
    flex-direction: column;
    /* border: 3px solid orange; */
}

#land-header {
    height: 10em;
    align-self: center;
    /* border: 2px solid green; */
    display: flex;
    /* transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#land-header h3 {
    align-self: flex-end;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    /* border: 2px solid salmon; */
    /* transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#land-title {
    height: 300px;
    justify-content: flex-end;
    align-self: center;
    padding-top: 12%;
    /* animation-delay: 1s;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#land-title h1 {
    /* border: 2px solid blue; */
    color: #d63031;
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    font-size: 5em;
    letter-spacing: 2px;
}


p.location {
    align-self: center;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 100px;
    height: 200px;
}


@media only screen and (max-width: 450px) {
    
    #land-header {
        max-width: 50%;
        /* transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
    }
    
    #land-header h3 {
        align-self: center;
        font-size: 2em;
    }
    #land-title {
        padding-top: 60%;
        max-width: 80%;
        align-self: flex-start;
        /* animation-delay: 1s;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
    }
    #land-title h1 {
        font-size: 3em;
    }
    p.location {
        display: none;
    }
  }

  @media only screen and (max-width: 982px) {
    #land-header {
        align-self: flex-start;
        padding-left: 5%;
        padding-top: 10%;
        
    }

    #land-header h3 {
        align-self: flex-start;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
    
    #land-title {
        padding-left: 5%;
        /* border: 2px solid #d63031; */
        height: 100%;
    }
    #land-title h1 {
        max-width: 10%;
    }
    .location {
        display: none;
    }

}
