#lineButtonA {
	align-self: flex-end;
	justify-self: flex-end;
	max-width: 20%;
	/* border: 2px solid orange; */
	cursor: pointer;
	/* z-index: 4; */
	/* position: absolute; */
	/* top: ; */
	width: 50px;
	height: 42px;
	position: fixed;
	top: 50%;
	right: 50px;
	margin-top: -21px;
	display: inline-block;
	z-index: 12;

}


button.bring-up-navA {
    align-self: flex-end;
    background: transparent;
    border: none;
}

#nav-containerA{
	align-self: flex-end;
	height: 20%;
	padding-right: 20%;
    /* border: 2px solid white; */
}

.toggle-iconA {
	display: block;	
}

.toggle-iconA .barA {
	display: block;
	/* width: 3.8em; */
	height: 0.3em;
    margin: 1em;
	border-right: 3.3em solid #d63031;
	border-left: 0.9em solid #d63031;
	box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
	#lineButtonA {
		position: absolute;
		top: 5%;
	}
	#nav-containerA{
		align-self: flex-end;
		height: 20%;
		/* border: 2px solid white; */
	}
	
	.toggle-iconA .barA {
		display: block;
		/* width: 3.8em; */
		height: 0.2em;
		margin: .58em;
		border-right: 2.4em solid #d63031;
		border-left: 0.4em solid #d63031;
		box-sizing: border-box;
	}

}

@media only screen and (max-width: 982px) {

	#lineButtonA {
		display: none;
		position: absolute;
		top: 5%;
	}
	#nav-containerA{
		align-self: flex-end;
		height: 20%;
		/* border: 2px solid white; */
	}
	
	.toggle-iconA .barA {
		display: block;
		/* width: 3.8em; */
		height: 0.2em;
		margin: .58em;
		border-right: 2.4em solid #d63031;
		border-left: 0.4em solid #d63031;
		box-sizing: border-box;
	}
}