.three-lines-act-as-a-Button {
	align-self: flex-end;
	justify-self: flex-end;
	max-width: 20%;
	/* border: 2px solid orange; */
	cursor: pointer;
	z-index: 2;

}

button.bring-up-nav {
    align-self: flex-end;
    background: transparent;
    border: none;
}

#nav-container{
	align-self: flex-end;
	height: 20%;
	padding-right: 20%;
    /* border: 2px solid white; */
}

.toggle-icon {
	display: block;	
}

.toggle-icon .bar {
	display: block;
	/* width: 3.8em; */
	height: 0.3em;
    margin: 1em;
	border-right: 3.3em solid #d63031;
	border-left: 0.9em solid #d63031;
	box-sizing: border-box;
}

@media only screen and (max-width: 450px) {
	#lineButton {
		position: absolute;
		top: 5%;
	}
	#nav-container{
		align-self: flex-end;
		height: 30%;
		/* border: 2px solid white; */
	}
	
	.toggle-icon .bar {
		display: block;
		/* width: 3.8em; */
		height: 0.2em;
		margin: .58em;
		border-right: 2.4em solid #d63031;
		border-left: 0.4em solid #d63031;
		box-sizing: border-box;
	}

}

@media only screen and (max-width: 982px) {
	#lineButton {
		position: absolute;
		top: 5%;
	}
	#nav-container{
		align-self: flex-end;
		height: 30%;
		/* border: 2px solid white; */
	}
	
	.toggle-icon .bar {
		display: block;
		/* width: 3.8em; */
		height: 0.2em;
		margin: .58em;
		border-right: 2.4em solid #d63031;
		border-left: 0.4em solid #d63031;
		box-sizing: border-box;
	}
}