#flyoutMenu {
    /* border: 2px solid white; */
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(0deg, rgba(206,38,73,0.7) 50%, rgba(206,38,73,0.7) 50%), linear-gradient(0deg, rgba(206,38,73,0.7) 50%, rgba(206,38,73,0.7) 50%), url(../resources/nav-background.jpg) center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Abril Fatface', cursive;
    transition: transform .5s cubic-bezier(0.63, 0.21, 1,-0.01);
    z-index: 3;
}

#flyoutMenu.hide {
    transform: translate3d(100vw, 0, 0);
    transition: transform .5s cubic-bezier(0.63, 0.21, 1,-0.01);
    background-size: cover;
    
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
    background-size: cover;
}

#flyoutMenu h1 {
    margin: auto;
    font-size: 5em;
    letter-spacing: 6px;
    z-index: 3;

}

#flyoutMenu h1:hover {
    color: black;
    cursor: pointer;

}

@media only screen and (max-width: 450px) {
#flyoutMenu {
    display: flex;
    flex-direction: column;
}

    #flyoutMenu h1 {
        height: 10%;
        font-size: 3.5em;
    }

}

@media only screen and (max-width: 982px) {
    #flyoutMenu {
        display: flex;
        flex-direction: column;
    }
    
        #flyoutMenu h1 {
            height: 10%;
            font-size: 3.5em;
        }
    
    }

