
.search-wrap {
    min-width: 60%;
    /* height: 8em; */
    border: 5px solid salmon;
    border-top: 1em solid transparent;
}


input {
    border: none;
    height: 2em;
    padding: 2em;
    margin: auto;

}