
.search-wrap {
    border-top: 1em solid transparent;
    display: flex;
}


#search-bar {
    border: none;
    height: 2em;
    padding: 2em;
    margin: auto;
    width: 25%;
    z-index: 6;

}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 @media only screen and (max-width: 450px) {
    #search-bar {
        width: 70%;
    
    }
    
    }